In [1]:
import pandas as pd

In [3]:
trends_df=pd.read_csv("trends.csv")

In [4]:
trends_df

      location  year         category  rank                query
0       Global  2001  Consumer Brands     1                Nokia
1       Global  2001  Consumer Brands     2                 Sony
2       Global  2001  Consumer Brands     3                  BMW
3       Global  2001  Consumer Brands     4                 Palm
4       Global  2001  Consumer Brands     5                Adobe
...        ...   ...              ...   ...                  ...
26950  Vietnam  2020           Là Gì?     1   Virus Corona là gì
26951  Vietnam  2020           Là Gì?     2  Miễn thị thực là gì
26952  Vietnam  2020           Là Gì?     3    Đầu cắt moi là gì
26953  Vietnam  2020           Là Gì?     4  Bệnh bạch hầu là gì
26954  Vietnam  2020           Là Gì?     5       Đông Lào là gì

[26955 rows x 5 columns]

In [5]:
us_df=trends_df[trends_df["location"]=="United States"]
us_df

            location  year         category  rank                 query
540    United States  2006  Movie Showtimes     1   Idiocracy Showtimes
541    United States  2006  Movie Showtimes     2        Cars Showtimes
542    United States  2006  Movie Showtimes     3       Borat Showtimes
543    United States  2006  Movie Showtimes     4    Superman Showtimes
544    United States  2006  Movie Showtimes     5  Jesus Camp Showtimes
...              ...   ...              ...   ...                   ...
26860  United States  2020          Recetas     1                  Flan
26861  United States  2020          Recetas     2            Aguachiles
26862  United States  2020          Recetas     3           Piña Colada
26863  United States  2020          Recetas     4       Arroz con Leche
26864  United States  2020          Recetas     5        Tinga de Pollo

[2070 rows x 5 columns]